.bg-dark {
  background-color: black !important;
}


.card {
  position: relative;
  border: none;
}

.col {
  margin-bottom: 50px !important;
}

.card-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4em;
  width: 4em;
  border-radius: 10px;

  position: absolute;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
}

.card-item  i{
  font-size: 2rem;
}

.card-content {
  padding-bottom: 20px;
}

.card-content h1 {
  font-size: 25px;
}

